@mixin user-data {
    font-weight: 600;
    line-height: 140%;
    color: #000000;
}

.content{
    width: 100%;
    display: flex;
    border-left: 1px solid #E0E0E0;
    > .wrapper{
        display: flex;
        margin-top: 30px;
        margin-left: 22px;
        margin-right: 29px;
        .img{
            background-image: url("../../../assets/img/Rectangle.png");
            background-repeat: no-repeat;
            background-size:100% 100%;
            background-position: center;
            border: 1px solid #E0E0E0;
            min-width: 424px;
            height: 286px;
        }
        .wrapper{
            margin-left: 61px;
            display: flex;
            flex-direction: column;
            .name{
                @include user-data;
                margin-bottom: 10px;
            }
            .email{
                font-size: 14px;
                margin-bottom: 10px;
                @include user-data;
                > span{
                    color: #76787D;
                }
            }
            .phone{
                font-size: 14px;
                margin-bottom: 20px;
                @include user-data;
                > span{
                    color: #76787D;
                }
            }
            .about-me{
                @include user-data;
                margin-bottom: 25px;
            }
            .description{
                font-size: 14px;
                line-height: 17px;
                color: #76787D;
            }
        }
    }
    &:empty{
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        color: #76787D;
        &:empty:before{
            content: "Выберите сотрудника, чтобы посмотреть его профиль";
        }
    }
}